#header{
    background-color: hsl(0, 77%, 26%);
    padding: 10px;
}
body{
    margin: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    color: white; 
    font-weight: bold;
    font-size: 18px;
    text-transform: unset;
    text-decoration: none;
}
.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
    left: 850px;
}
.linha{
    height: 500px;
    border-left: 2px solid;
    position: relative;
    left: 35px;
}
