header{
    background-color: darkblue;
  }
  h2{
    width: 150px;
    height: 30px;
    margin-left: 430px;
    margin-top: 250px;
    font-size: 60px;
    color: white;
  }
  .titulo1{
    margin-right: 300px;
    margin-left: 50px;
    margin-top: -150px;
    width: 300px;
    font-size: 20px;
    color: white;
  }
  .titulo2{
    margin-top: 300px;
    margin-left: 900px;
    font-size:  20px;
    color: white;
  }
  #imagem1{
    position: absolute;
    left: 900px;
    top: 100px;
    width: 250px; 
    height: 350px;
  }
  #logo{
    position: absolute;
    left: 530px;
    top: 150px;
    width: 100px;
    height: 100px;
  }
  #imagem2{
    position: absolute;
    width: 350px;
    height: 250px;
    left: -10px;
    top: 390px;
  }